.dashboard {
  display: flex;
  flex:1;
  flex-direction: column;
}

.dashboardContent {
padding-right: 50px;
padding-left: 30px;
padding-bottom: 20px;
}

.dashboardContent p {
  font-family: 'Manrope';
  color: #444444;
  font-size: 20px;
  font-style: normal;
  font-weight: 50;
  line-height: normal;
  margin:0px;
}

.dashboardContent h1 {
  font-family: 'Manrope';
  color: #444444;
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.3px;
}

.dashboardInfo {
  display:flex;
  flex:1;
  flex-direction:row;
  flex-wrap:wrap;
  background:white;
  border-radius:30px;
  box-shadow:2px 2px 10px rgba(100, 55, 254, 0.1);
  margin: 15px;
  min-height:min-content;
  padding-right:1vw;
  height:18vh;
}

.dashboardInfo p {
  color: black;
  display: inline;
  margin:0vw;
  font-size: calc(14px + 0.4vw);
}

.dashboardInfo h1 {
  color: #354CFC;
  margin:0px;
  font-size: calc(40px + 0.4vw);
  transition: transform 0.1s ease-in-out;
}

.dashboardInfo h1:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.dashboardInfo h2 {
  color: #354CFC;
  margin:8px;
  font-size: calc(26px + 0.4vw);
  font-family: Manrope;
}

.membersInfo {
  display:flex;
  width:30%;
  flex-direction:column;
  flex-wrap:wrap;
  padding: calc(10px + 0.2vw);
  background:#4325a9;
  border-radius:30px;
  box-shadow:2px 2px 10px rgba(100, 55, 254, 0.2);
  margin: 20px;
  flex-grow: 1;
}

.membersInfo h1 {
  color: #F1F1FD;
  font-weight: 100;
  font-size: calc(18px + 0.8vh);
  display: block;
}

.membersInfo p {
  color: #F1F1FD;
  font-size: calc(12px + 0.5vh);
  font-weight: 100;
  margin: 0.1vh;
}

.dimensionParentFlex {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap:wrap;
  align-content: flex-start;
  padding-bottom: 0;
}

.dimensionTeaser {
  flex: 0.333;
  height: 250px;
  margin: 20px;
  border-radius: 30px;
  text-decoration: none;
  box-shadow: 1px 1px 6px rgba(100, 55, 254, 0.2);
  background: white;
  overflow: hidden;
  transition: transform 0.3s;
}

.dimensionTeaser:hover {
  transform: scale(1.01);
  box-shadow: 1px 1px 10px rgba(100, 55, 254, 0.4);
}

.teaserText {
  background-size: cover;
  background-image: url('../public/images/dashboard1.jpeg');
  background-position: center;
  display:"block";
  height: 165px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  padding:15px;
}

.teaserText h1{
  text-shadow: 2px 2px 10px rgba(100, 55, 254, 0.4);
  text-decoration: none;
  text-align: left;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 35px;
  color: white;
}

.expandBtn {
  cursor:pointer;
  background: none;
  display:inline;
  font-weight:bold;
  color: #354CFC;
  font-family:'Manrope';
  font-size:calc(18px + 0.4vw);
  border: none;
  text-decoration:none;
  padding-left:15px;
  padding-right:15px;
  transition: transform 0.1s ease-in-out;
}

.expandBtn:hover {
  transform: translate(1px, 2px);
}

.shuffle {
  display: inline;
  cursor: pointer;
  width: calc(16px + 0.2vh);
  transition: transform 0.1s ease-in-out;
}

.shuffle:hover {
  transform: rotate(10deg);
  color:#354CFC;
}

.memberContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1vh;
  border-radius: 30px;
}

.memberContainer:hover {
  background: #5d70fd;
}

.memberContainer h1 {
  font-family: 'Montserrat';
  font-size: calc(13px + 0.3vw);
  color: white;
  margin: 0;
  padding: 1vh;
}

.memberContainer p {
  font-family: 'Manrope';
  font-size: calc(11px + 0.2vw);
  color: white;
  margin: 0;
}

.memberProfilePics {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-left: 1vw;
  border:#c2c9fe;
  border-width: 2px;
  border-style:outset;
}

.memberProfilePics img {
  width: auto;
  height: 100%;
  box-shadow: 2px 2px 20px rgba(100, 55, 254, 0.3);
  object-fit: cover;
  background-color: white;
}