.header {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right:70px;
    padding-top: 50px;
    padding-bottom: 15px;
}
  
.headerElts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}
  
#headerTitle {
    color: #1e104c;
    font-family: 'Montserrat';
    font-size: calc(40px + 0.8vh);
    font-weight: 900;
    line-height: normal;
}
  
#headerElements {
    margin: 10px;
    margin-top: 10px;
    border-radius: 50px;
    transition: transform 0.3s;
  }
  
  #headerElements:hover {
    transform: scale(1.2);
  }