.header {
    display: flex;
    justify-content: space-between;
    margin-left:2.5vw;
    margin-right: 8vw;
    margin-top: 4vh;
    padding-bottom: 15px;
}
  
.headerElts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#headerTitle {
    color: black;
    font-family: 'Montserrat';
    font-size: calc(40px + 0.8vh);
    font-weight: 900;
    line-height: normal;
    margin-left: 3vw;
}

.headerElements {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-right: 1vw;
    transition: transform 0.3s;
}

.headerElements:hover {
    transform: scale(1.2);
}

.headerElements img {
    width: auto;
    height: 100%;
    box-shadow: 2px 2px 20px rgba(100, 55, 254, 0.3);
    object-fit: cover;
}

.helloText{
    color: #2a3dca;
    font-family: 'Manrope';
    font-size: calc(14px + 0.2vw);
    font-weight: 600;
    margin-right: 1vw;
}
  