.header {
    display: flex;
    justify-content: space-between;
    margin-left:2.5vw;
    margin-right: 8vw;
    margin-top: 4vh;
    padding-bottom: 15px;
}
  
.headerElts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#headerTitle {
    color: black;
    font-family: 'Montserrat';
    font-size: calc(40px + 0.8vh);
    font-weight: 900;
    line-height: normal;
}
  
#headerElements {
    margin: 10px;
    margin-top: 10px;
    border-radius: 50px;
    transition: transform 0.3s;
  }
  
  #headerElements:hover {
    transform: scale(1.2);
  }