.container {
  min-height: 100vh;
  background-image: url('../public/images/start_bg.png');
  background-size: cover;
}

#logo {
  color: #0051CB;
  font-size: 150px;
  text-align: left;
  margin-left: 100px;
  font-family: 'Montserrat';
  display:block;
  font-weight: 1000;
  letter-spacing: 4.5px;
  margin-bottom: 15px;
}

.navbar {
  font-family:"Montserrat";
  color:aliceblue;
  text-decoration: none;
  margin-left: 75px;
}

#navbarelements {
  list-style-type: none;
  text-decoration: none;
  text-align: left;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 30px;
  color: #0051CB;
  display:"block";
  margin-top: 8px;
}

#navbarelements:hover {
  color:darkblue;
}

.signupContainer{
  min-height: 100vh;
  background: url(../public/images/signupbg.png);
  background-size: cover;
}

#signupHeader{
  color: #0051CB;
  font-family: Montserrat;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.8px;
}

#signupInputContainer{
  margin-top:160px;
  margin-left:800px;
  width: 500px;
}

.inputText{
  margin-top: 20px;
  width: 106;
  height: 21;
  position: 'absolute';
  color: 'rgba(0, 0, 0, 0.40)';
  font-size: 16px;
  font-family: 'Karla Variable';
  font-weight: 400;
  word-wrap: 'break-word';
}

.signupInputBox{
  width: 300;
  height: 48;
  display: block;
  border-radius: 8;
  border: '1px #CDCDCD solid';
  background: #DBE9FF;
}

.signupInstructions{
  margin-top: 20px;
  width: 106;
  height: 21;
  position: 'absolute';
  color: 'rgba(0, 0, 0, 0.40)';
  font-size: 20px;
  font-family: 'Karla Variable';
  font-weight: 600;
  word-wrap: 'break-word';
}

.signupButton{
  width: fit-content;;
  padding:15px;
  margin-inline-end: 10px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #DBE9FF;
  border:none;
  color: #033988;
  font-family: 'Karla Variable';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  display:inline-block;
  cursor:pointer;
}

.signupButton:hover {
  background: #CEDCFA;
  color: #001463;
}

.continue{
  color: #0051CB;
  font-family: Montserrat;
  font-size: 29px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.87px;
  text-align: right;
  margin-top: 50px;
  cursor:pointer;
  background: none;
  border:none;
  text-decoration: none
}

.continue:hover{
  color:#001463;
}

.pageContainer {
  background: #F3F5F7;
  background-size: 'cover';
  margin-top:0;
  padding:0;
}

.mainContainer {
  display:flex;
  flex: 1;
  flex-direction: row;
  flex-wrap:wrap;
  min-height: 100vh;
  overflow-y: auto;
}

.sidebarContainer {
  background:#18392B;
  width:12vw;
  margin:0;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position:sticky;
}

#sidebarLogo{
  color: #E8F1FF;
  font-family: Montserrat;
  font-size: 75px;
  font-style:normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 2.25px;
}

#sidebarNavElements {
  color: #E8F1FF;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.3px;
  line-height: normal;
  cursor:pointer;
  background: none;
  border:none;
  text-decoration: none;
  margin-top: 23px;
}

.dashboard {
  display: flex;
  flex:1;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right:30px;
  padding-top: 50px;
  padding-bottom: 15px;
}

.headerElts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#headerTitle {
  color: black;
  font-family: 'Montserrat';
  font-size: 75px;
  font-weight: 900;
  line-height: normal;
}

#headerElements {
  color: black;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: none;
  border: none;
  text-decoration: none;
  padding: 10px;
}

.dashboardContent {
  padding-right: 50px;
  margin-left: 30px;
}

.dashboardContent p {
  font-family: 'Manrope';
  color: #444444;
  font-size: 20px;
  font-style: normal;
  font-weight: 50;
  line-height: normal;
}

.dimensionParentFlex {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap:wrap;
  align-content: flex-start
}

.dimensionTeaser {
  width:375px;
  height: 250px;
  margin: 20px;
  border-radius: 15px;
  text-decoration: none;
  outline-color: #E6E8EC;
  outline-width: 1px;
  outline-style: solid;
}

.teaserText {
  text-decoration: none;
  text-align: left;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 35px;
  color: #FFFFFF;
  display:"block";
  margin: 10px;
}

.checkTeamButton{
  width: fit-content;;
  padding:15px;
  margin-inline-end: 10px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #DBE9FF;
  border:none;
  color: #033988;
  font-family: 'Karla Variable';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  float: right;
  cursor:pointer;
}

.reportBtn {
  width: fit-content;
  border-radius: 30px; 
  background-color: #18392B;
  font-size: 22px;
  color: white;
  padding: 15px;
  border: none;
  float: right;
  font-family: 'Montserrat';
}

#loginContainer{
  margin-top:180px;
  margin-left:180px;
  width: 400px;
}

#loginHeader{
  color: #0051CB;
  font-family: Montserrat;
  font-size: 70px;
  font-style: normal;
  font-weight: 750;
  line-height: normal;
  letter-spacing: 1.8px;
  text-align: center;
}

.loginButton{
  width: fit-content;
  position: absolute;
  padding:15px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #DBE9FF;
  border:none;
  color: #033988;
  font-family: 'Karla Variable';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  display:block;
  cursor:pointer;
  margin: 20px;
}

.forgotPasswordButton{
  width: fit-content;
  position: absolute;
  padding:15px;
  flex-shrink: 0;
  border-radius: 40px;
  background: none;
  border:none;
  color: #0051CB;
  font-family: 'Karla Variable';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  display:block;
  cursor:pointer;
  margin: 20px;
}

.loginButton:hover {
  background: #CEDCFA;
  color: #001463;
}