.infoContent {
    padding-left:3vw;
    padding-right: 6vw;
}

.infoContent h1 {
    font-family: 'Manrope';
    color: black;
    font-size: calc(20px + 0.1vw);
    font-style: normal;
    font-weight:600;
    line-height: normal;
    letter-spacing: 0.3px;
}

.infoContent p {
    font-family: 'Manrope';
    color: #444444;
    font-size: calc(16px + 0.1vw);
    font-style: normal;
    font-weight: 50;
    line-height: normal;
}

.infoContent li {
    font-family: 'Manrope';
    color: #444444;
    font-size: calc(16px + 0.1vw);
    font-weight: 50;
    margin:1vh;
}

.infoContent li b {
    font-family: 'Manrope';
    color: #18392B;
    font-size: calc(16px + 0.1vw);
    margin:1vh;
}

.infoContent ul {
    padding-left: 2vw;
}

.scopeBox{
    background-color: #ededed;
    font-family: 'Manrope';
    flex:0.33;
    padding:10px;
    margin:10px;
    border-radius: 30px;
}

.scopeBox h1 {
    font-family: 'Manrope';
    font-size: calc(22px + 0.1vw);
    font-weight: bold;
    letter-spacing: 0.5px;
    text-align: center;
}

.scopeBox p {
    font-family: 'Manrope';
    font-size: calc(16px + 0.1vw);
    font-weight:lighter;
    text-align: left;
}

.nav {
    padding-left: 3vw;
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
}

.navElts {
    font-family:'Manrope';
    font-weight:bold;
    font-size:calc(22px + 0.8vw);
    border:none;
    background:none;
    margin-right:1vw;
    cursor: pointer;
    text-decoration: none;
    color:black;
    border-radius: 30px;
    padding:0.5vh;
    letter-spacing: 0.8px;
    /*box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;*/
}

.navElts:hover {
    color:#3b7a5f;
}