.infoContent {
    margin-left:2vw;
    margin-right: 8vw;
    margin-bottom: 4vw;
    background:#fcfcff;
    border-radius: 30px;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0.6vw;
    padding-bottom: 0.6vw;
    box-shadow: 2px 2px 20px rgba(100, 55, 254, 0.1);
    min-height:calc(70vh - 20px + 0.3vw);
    max-width:80vw;
}

.infoContent h1 {
    font-family: 'Manrope';
    color: #4325a9;
    font-size: calc(20px + 0.2vw);
    font-style: normal;
    font-weight:600;
    line-height: normal;
    letter-spacing: 0.3px;
}

.infoContent p {
    font-family: 'Manrope';
    color: black;
    font-size: calc(14px + 0.2vw);
    font-style: normal;
    font-weight: 50;
    line-height: normal;
}

.infoContent li {
    font-family: 'Manrope';
    color: black;
    font-size: calc(16px + 0.1vw);
    font-weight: 50;
    margin:1vh;
}

.infoContent li b {
    font-family: 'Manrope';
    color: #4325a9;
    font-size: calc(16px + 0.1vw);
    margin:1vh;
}

.infoContent ul {
    padding-left: 2vw;
}

.reportViewContent {
    margin-left:2vw;
    margin-right: 8vw;
    margin-bottom: 4vh;
    background:#fcfcff;
    border-radius: 30px;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vh;
    padding-bottom: 4vh;
    box-shadow: 2px 2px 20px rgba(100, 55, 254, 0.1);
    flex-wrap: wrap;
}

.reportViewContent h1 {
    font-family: 'Montserrat';
    color: #3044e3;
    font-size: calc(24px + 0.3vw);
    font-style: normal;
    font-weight:600;
    line-height: normal;
    letter-spacing: 0.3px;
    margin-bottom: 2vh;
    display:block;
}

.reportViewContent p {
    font-family: 'Manrope';
    color: black;
    font-size: calc(14px + 0.2vw);
    font-weight:bold;
    text-align: left;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.reportPageBtn {
    background: #f0ebff;
    border-radius: 30px;
    padding:2vh;
    width:fit-content;
    font-size: calc(14px + 0.2vw);
    border:none;
    box-shadow: 2px 2px 10px rgba(100, 55, 254, 0.3);
    cursor: pointer;
    margin:1vw;
    height:fit-content;
}

.reportPageBtn:hover {
    background: #e0d7ff;
}

.nav {
    margin-left: 2vw;
    padding-left: 1vw;
    padding-top: 0.6vw;
    padding-bottom: 0.6vw;
    margin-bottom: 1vh;;
    width:fit-content;
    border-radius: 40px;
    background: #fcfcff;
    box-shadow: 2px 2px 20px rgba(100, 55, 254, 0.1);
}

.navElts {
    font-family:'Manrope';
    font-weight:bold;
    font-size:calc(20px + 0.3vw);
    border:none;
    background:none;
    margin-right:1vw;
    cursor: pointer;
    text-decoration: none;
    color:black;
    border-radius: 30px;
    padding:0.5vh;
    letter-spacing: 0.8px;
    display:inline;
}

.navEltsBar {
    font-family:'Manrope';
    font-weight:bold;
    font-size:calc(20px + 0.3vw);
    border:none;
    background:none;
    margin-right:1vw;
    text-decoration: none;
    color:black;
    border-radius: 30px;
    padding:0.5vh;
    display:inline;
    cursor: default;
}

.navElts:hover {
    color:#354cfc;
    text-shadow: 2px 2px 20px rgba(100, 55, 254, 0.4);
}

.scopeBox{
    font-family: 'Manrope';
    background: #d1c3ff;
    flex:0.33;
    padding:calc(10px + 0.2vw);
    margin:calc(10px + 0.2vw);
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba(100, 55, 254, 0.2);
}

.scopeBox h1 {
    font-family: 'Manrope';
    font-size: calc(22px + 0.3vw);
    font-weight: bold;
    color: black;
    letter-spacing: 0.5px;
    text-align: center;
    text-shadow: 2px 2px 40px #1f124b;
}

.scopeBox p {
    font-family: 'Manrope';
    color: black;
    font-size: calc(14px + 0.2vw);
    font-weight:lighter;
    text-align: left;
}

.statsView{
    background: #F1F1FD;
    padding:calc(10px + 0.2vw);
    margin:calc(20px + 0.3vw);
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba(100, 55, 254, 0.2);
}

.statsHeading {
    font-family: 'Manrope';
    color: #4325a9;
    font-size: calc(24px + 0.3vw);
    font-style: normal;
    font-weight:600;
    line-height: normal;
    letter-spacing: 0.3px;
    margin-bottom: 2vh;
    display:block;
}