.boardContainer {
    display:flex;
    flex: 1;
    flex-direction: row;
    flex-wrap:wrap;
    align-content: flex-start;
    max-width: 1600px;
}

.issueColumn {
    min-height: 75vh;
    background:white;
    box-shadow: 2px 2px 20px rgba(100, 55, 254, 0.1);
    margin-right:2vw;
    border-radius:20px;
    display:flex;
    flex:0.33;
    align-items:center;
    flex-direction:column;
    justify-content:flex-start;
    border-left:10px;
    border-top:10px;
}

.issueInfoContainer {
    margin-bottom: 2vh;
    border-radius: 30px;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    box-shadow: 2px 2px 30px rgba(100, 55, 254, 0.1);
    background: #1b267e;
    display:flex;
    flex-direction: row;
}

.issueInfoContainer p {
    color: white;
    font-family: 'Manrope';
    font-size: calc(16px + 0.3vh);
}

.addIssue {
    background: white;
    border-radius: 30px;
    display: inline;
    text-decoration: none;
    border:none;
    color:#354cfc;
    font-family: 'Manrope';
    font-size: large;
    transition: transform 0.3s;
    cursor: pointer;
    padding:1vh;
    margin-top: 2vw;
    align-self: flex-start;
}

.addIssue:hover {
    transform: scale(1.05);
}

.columnHeader {
    font-size:25px;
    font-family:Montserrat;
    font-weight:1000;
    color: black;
}

.issueDiv {
    width:90%;
    height:fit-content;
    background:linear-gradient(180deg, #f7f8ff 0%, #f7f8ff 60%, #354cfc 60%, #354cfc 100%);
    border-radius:20px;
    margin-bottom: 18px;
    box-shadow: 1px 1px 10px rgba(53, 76, 252, 0.2);
    transition: transform 0.3s;
}

.issueDiv:hover{
    transform: scale(1.01);
    box-shadow: 1px 1px 10px rgba(53, 76, 252, 0.4);
}

.issueDiv h1 {
    margin-left:7px;
    font-weight:1000;
    font-size:22px;
    font-family: 'Montserrat';
}

.issueDiv p {
    margin-left:7px;
    font-size:15px;
    color: #F1F1FD;
}

.vl {
    width: 1px;
    background-color: white;
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    align-self: stretch;
}
