.reportContainer {
    background:white;
    overflow:auto;
    height:fit-content;
    box-shadow: 2px 2px 40px rgba(100, 55, 254, 0.1);
    border-radius: 30px;
    padding: 30px;
    width:80%;
    min-width: 900px;
}

.reportContainer p {
    font-size: 18px;
    font-family: 'Manrope';
}

.inputBoxes {
    width:100%;
    height:48px;
    display:block;
    border-radius: 8px;
    border: 1px #f5effa solid;
    margin: 5px;
    font-size: 16px;
    font-family: 'Karla Variable';
    padding: 10px;
}

.nextButton {
    background: #321c7f;
    cursor: pointer;
    width: fit-content;
    border-radius: 30px;
    font-family: 'Montserrat';
    font-size: 22px;
    color: white;
    padding: 15px;
    border: none;
    float: right;
    box-shadow: 2px 2px 4px rgba(100, 55, 254, 0.5);
    transition: transform 0.1s ease-in-out;
}

.nextButton:hover{
    transform: translate(1px, 2px);
    box-shadow: none;
}

.reportBtn {
    width: fit-content;
    border-radius: 30px; 
    background-color: #495efc;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    color: white;
    padding: 15px;
    border: none;
    float: right;
    cursor: pointer;
    font-family: 'Montserrat';
    box-shadow: 2px 2px 4px rgba(100, 55, 254, 0.5);
    transition: transform 0.1s ease-in-out;
  }

.reportBtn:hover {
    transform: translate(1px, 2px);
    box-shadow: none;
}

.scopeHeadingText {
    font-size: 50px;
    font-weight:bold;
    margin-bottom: 40px;
    color:gray;
    font-family: 'Montserrat';
    letter-spacing: 1px;
}

.headingText {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 40px;
    color:black;
    font-family: 'Manrope';
}

.headingText2 {
    font-size: 26px;
    font-weight: 900;
    margin-bottom: 18px;
    color:black;
    font-family: 'Manrope';
}

.teamEntriesContainer {
    display: flex;
    flex:1;
    flex-direction: row;
    flex-wrap:wrap;
}

.teamEntries {
    background-color: #e7e6f7;
    border-radius: 15px;
    padding-top:0px;
    padding-left: 20px;
    padding-right: 20px;
    width: 500px;
    height:300px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-inline-start: 15px;
}

.teamEntries h1 {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Manrope';
    padding:12px;
    padding-left: 0px;
    margin-bottom:0px;
    color: #444444;
}

.expand {
    background-color: #e7e6f7;
    border-radius: 15px;
    padding-top: 0px;
    width: 650px;
    cursor:pointer;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.expand h1 {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Manrope';
    padding:12px;
    margin-bottom:0px;
    color: #444444;
}

.expand p{
    margin-left: 12px;
    margin-top:0px;
    margin-bottom: 5px;
}

.expandContent {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }
  
.expandContent.expanded {
    max-height: 400px;
    transition: max-height 0.7s ease-in;
}

.addItem {
    background:white;
    cursor:pointer;
    display:block;
    font-weight:bold;
    color:rgba(100, 55, 254, 0.6);
    border-radius:50%;
    font-family:'Manrope';
    font-size:35px;
    margin:5px;
    padding:0px;
    border: none;
    text-decoration:none;
    box-shadow:2px 2px 4px rgba(100, 55, 254, 0.2);
    padding-left:15px;
    padding-right:15px;
    transition: transform 0.1s ease-in-out;
  }

.addItem:hover {
    transform: translate(1px, 2px);
    box-shadow: none;
}

.dropdownAndInput {
    height:fit-content;
    background:#e7e6f7;
    padding:10px;
    margin-bottom:30px;
    border-radius:20px;
}

.finishReportBtn {
    width: fit-content;
    border-radius: 30px; 
    background-color: #495efc;
    font-weight: bold;
    height:fit-content;
    font-size: calc(18px + 0.2vw);
    text-decoration: none;
    color: white;
    padding: 15px;
    border: none;
    float: right;
    cursor: pointer;
    font-family: 'Montserrat';
    box-shadow: 2px 2px 4px rgba(100, 55, 254, 0.5);
    transition: transform 0.1s ease-in-out;
  }

.finishReportBtn:hover {
    transform: translate(1px, 2px);
    box-shadow: none;
}

.viewExportBtn {
    display: flex;
    flex: 0.25;
    align-items: center;
    margin-left: 1vw;
    background: none;
    font-family: 'Manrope';
    color: black;
    font-size: calc(14px + 0.2vw);
    font-weight:bold;
    width: fit-content;
    border:none;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
    gap:8px;
}

.viewExportBtn:hover {
    color: #354cfc;
    transform: scale(1.02);
}

.pastReportContainer {
    background: #ebedff;
    border-radius: 30px;
    padding:1.5vw;
    display:flex;
    flex:1;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2vh;
}

.pastReportElt {
    display: flex;
    flex: 0.25;
    align-items: center;
}

.pastReportContainer:hover {
    background: #d7dbfe;
}

.vl {
    width: 1px;
    background-color: black;
    align-self: stretch;
    align-items: center;
}
