.container {
  min-height: 100vh;
  background-image: url('../public/images/start_bg.png');
  background-size: cover;
}

#logo {
  color: #0051CB;
  font-size: 150px;
  text-align: left;
  margin-left: 100px;
  font-family: 'Montserrat';
  display:block;
  font-weight: 1000;
  letter-spacing: 4.5px;
  margin-bottom: 15px;
}

.navbar {
  font-family:"Montserrat";
  color:aliceblue;
  text-decoration: none;
  margin-left: 75px;
}

#navbarelements {
  list-style-type: none;
  text-decoration: none;
  text-align: left;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 30px;
  color: #0051CB;
  display:"block";
  margin-top: 8px;
}

#navbarelements:hover {
  color:darkblue;
}

.signupContainer{
  min-height: 100vh;
  background: url(../public/images/signupbg.png);
  background-size: cover;
}

#signupHeader{
  color: #0051CB;
  font-family: Montserrat;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.8px;
}

#signupInputContainer{
  margin-top:160px;
  margin-left:800px;
}

.signupInputText{
  margin-top: 20px;
  width: 106;
  height: 21;
  position: 'absolute';
  color: 'rgba(0, 0, 0, 0.40)';
  font-size: 16px;
  font-family: 'Karla Variable';
  font-weight: 400;
  word-wrap: 'break-word';
}

.signupInputBox{
  width: 319;
  height: 48;
  display: block;
  border-radius: 8;
  border: '1px #CDCDCD solid';
}

.signupInstructions{
  margin-top: 20px;
  width: 106;
  height: 21;
  position: 'absolute';
  color: 'rgba(0, 0, 0, 0.40)';
  font-size: 20px;
  font-family: 'Karla Variable';
  font-weight: 600;
  word-wrap: 'break-word';
}

.signupButton{
  width: 158px;
  height: 47px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #DBE9FF;
}

.signupButton p{
  color: #033988;
  font-family: 'Karla Variable';
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
