.navbar {
    font-family:"Montserrat";
    color:aliceblue;
    float:"right";
}

#logo {
    color: #0051CB;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 150px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 4.5px;
    text-align: center;
    padding-top: 17%;
}

body {
    background-image: url(../loginbg.png);
    background-size:cover;
  }

#navbarelements {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    color: #0051CB;
    float:"right";
    display:"block";
    padding:15;
}

#navbarelements:hover {
    float:"right";
    color:darkblue;
    display:"block";
    padding:15;
}